@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

.header{
    background-image: url('./back3.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 5px;
    
}

.cell{
    width: 70px;
    height: 70px;
    border: 1px solid;
}

.checkButt{
    margin-left:10px ;
    font-size: large;
}

